<a href="https://colab.research.google.com/github/BimalShrestha/data-process-and-visualization-/blob/main/05_SQL_SubQuery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL Sub-Queries
# Bimal Shrestha

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [2]:
%%bigquery --project data-viz-bimal-shrestha
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 5

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19

[5 rows x 9 columns]

Number of entries

In [3]:
%%bigquery --project data-viz-bimal-shrestha
SELECT 
   COUNT(*) as total_entries
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   total_entries
0        1424786

the longest trip

In [4]:
%%bigquery --project data-viz-bimal-shrestha

SELECT MAX(duration_minutes) as Longest_trip_in_minutes
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   Longest_trip_in_minutes
0                    34238

In [9]:
%%bigquery --project data-viz-bimal-shrestha
SELECT start_station_name, AVG(duration_minutes) as Average_time_for_trip
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE start_station_name is not null
GROUP BY start_station_name

                        start_station_name  Average_time_for_trip
0                         Zilker Park West              27.168259
1                  Toomey Rd @ South Lamar              28.115798
2          State Capitol @ 14th & Colorado              30.421842
3                         Waller & 6th St.              23.265843
4                               Pease Park              28.648889
..                                     ...                    ...
188  Republic Square @ Guadalupe & 4th St.              23.067313
189                             3rd & West              19.937466
190                               3rd/West              34.152547
191                          Nueces & 26th              16.805353
192                            26th/Nueces              24.521670

[193 rows x 2 columns]

number of trips from starting points

In [13]:
%%bigquery --project data-viz-bimal-shrestha
SELECT 
    start_station_name,
  COUNT(*) as total_trips
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
ORDER BY total_trips DESC

           start_station_name  total_trips
0        21st & Speedway @PCL        72799
1        Riverside @ S. Lamar        40635
2    City Hall / Lavaca & 2nd        36520
3              2nd & Congress        35307
4        Rainey St @ Cummings        34758
..                        ...          ...
188           Marketing Event            4
189             Eeyore's 2018            2
190                    Stolen            1
191             Eeyore's 2017            1
192     cesar Chavez/Congress            1

[193 rows x 2 columns]

second most popular starting point

In [14]:
%%bigquery --project data-viz-bimal-shrestha

SELECT COUNT(*) as total_trips, start_station_name
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
ORDER BY total_trips DESC

     total_trips        start_station_name
0          72799      21st & Speedway @PCL
1          40635      Riverside @ S. Lamar
2          36520  City Hall / Lavaca & 2nd
3          35307            2nd & Congress
4          34758      Rainey St @ Cummings
..           ...                       ...
188            4           Marketing Event
189            2             Eeyore's 2018
190            1                    Stolen
191            1             Eeyore's 2017
192            1     cesar Chavez/Congress

[193 rows x 2 columns]

trips started from each station

In [15]:
%%bigquery --project data-viz-bimal-shrestha
SELECT MAX(pop_trip) as pop_trip
FROM (
SELECT COUNT(*) as pop_trip, start_station_name
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
)

   pop_trip
0     72799

second populartrip

In [ ]:
%%bigquery --project data-viz-bimal-shrestha
SELECT start_station_name, COUNT(*) as most_pop_trip
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
HAVING most_pop_trip!= (SELECT MAX(most_pop_trip)as max_trip
FROM (
SELECT COUNT(*) as most_pop_trip, start_station_name
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
))
ORDER BY most_pop_trip DESC
LIMIT 1

                            category_name  number_bottles_over_benjamin
0                         Scotch Whiskies                          2552
1                         SCOTCH WHISKIES                          1897
2                      100% Agave Tequila                          1579
3                      SINGLE MALT SCOTCH                          1119
4                       Imported Brandies                          1090
...                                   ...                           ...
13825         American Cordials & Liqueur                             0
13826  MISC. AMERICAN CORDIALS & LIQUEURS                             0
13827  MISC. IMPORTED CORDIALS & LIQUEURS                             0
13828  MISC. IMPORTED CORDIALS & LIQUEURS                             0
13829  MISC. IMPORTED CORDIALS & LIQUEURS                             0

[13830 rows x 2 columns]

round trip that were lasted for an hour

In [ ]:
%%bigquery --project data-viz-bimal-shrestha

SELECT start_station_name, duration_minutes
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE start_station_name = end_station_name

                            category_name  ...  number_of_bottles
0                         Scotch Whiskies  ...               2553
1                         SCOTCH WHISKIES  ...               1897
2                      100% Agave Tequila  ...               3069
3                      SINGLE MALT SCOTCH  ...               1119
4                       Imported Brandies  ...               1194
...                                   ...  ...                ...
13825           Straight Bourbon Whiskies  ...                  2
13826         American Cordials & Liqueur  ...                  1
13827    PUERTO RICO & VIRGIN ISLANDS RUM  ...                  1
13828  MISC. IMPORTED CORDIALS & LIQUEURS  ...                  2
13829  MISC. IMPORTED CORDIALS & LIQUEURS  ...                  1

[13830 rows x 3 columns]

In [ ]:
%%bigquery --project data-viz-bimal-shrestha

SELECT *, COUNTIF(duration_minutes>60) as number_of_trip_took_over_an_hour
FROM (
  SELECT start_station_name, duration_minutes
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE start_station_name = end_station_name
)
GROUP BY duration_minutes, start_station_name
Order BY number_of_trip_took_over_an_hour DESC

                        category_name  ...  percent_over_benjamin
0               Straight Rye Whiskies  ...                    1.0
1      DECANTERS & SPECIALTY PACKAGES  ...                    1.0
2                 Special Order Items  ...                    1.0
3                 Special Order Items  ...                    1.0
4                  Single Malt Scotch  ...                    1.0
...                               ...  ...                    ...
8349  Temporary &  Specialty Packages  ...                    0.0
8350                     Flavored Gin  ...                    0.0
8351                  CHERRY BRANDIES  ...                    0.0
8352                  CREME DE ALMOND  ...                    0.0
8353   Delisted / Special Order Items  ...                    0.0

[8354 rows x 4 columns]